// General
@ms-body-color-dark: #252525;
@ms-font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@ms-font-color-dark: #F2F4F2;

// UI Specific
@ms-theme-shadow-dark: -3px -3px 7px rgba(255, 255, 255, .05),
                       3px 3px 10px rgba(0, 0, 0, .5);
@ms-theme-shadow-dark-inset: inset -3px -3px 7px rgba(255, 255, 255, .05),
                             inset 3px 3px 10px rgba(0, 0, 0, .5);

// Colors
@ms-primary: #07B7F7;
@ms-primary-active: #0790C1;
@ms-success: #9BF707;
@ms-warning: #F7DB07;
@ms-danger: #F73307;
@ms-danger-active: #B42606;
@ms-badge: #8707F7;

@ms-alert-bg-dark: #1B1B1B;

// Link
@ms-link-color-dark: #CEF716;
@ms-link-hover-color-dark: #97B512;

// Button
@ms-button-color-dark: #F73F16;
@ms-button-active-color-dark: #B72F10;
@ms-progress-green: #19D619;
